<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Header-->
<div th:fragment="header">
    <header class="bg-gray-800 text-white">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <div class="text-lg font-bold">
                BeginAgain
            </div>
            <nav>
                <ul class="flex space-x-4">
                    <!-- 세션이 있는 경우: 로그아웃 링크 표시 -->
                    <li th:if="${session.userId}">
                        <a href="/logout" class="hover:underline">Logout</a>
                    </li>
                    <!-- 세션이 없는 경우: 로그인 링크 표시 -->
                    <li th:unless="${session.userId}">
                        <a href="/login" class="hover:underline">Login</a>
                    </li>
                    <li><a href="#" class="hover:underline">MyPage</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
</body>
</html>