<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Board</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="min-h-screen flex flex-col bg-gray-50">

<!--Header fragment-->
<div th:insert="~{common/header :: header}"></div>

<div class="container mx-auto mt-5 flex-grow">
    <h2 class="text-center text-2xl font-bold mb-4">게시판 수정</h2>
    <div class="bg-white shadow-md p-4 rounded-lg">
        <form id="editForm">
            <div class="mb-4">
                <label for="title" class="block text-lg font-semibold">게시판 제목</label>
                <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded-md" id="title" name="title" th:value="${board.title}" required>
            </div>
            <div class="mb-4">
                <label for="content" class="block text-lg font-semibold">게시판 소개</label>
                <textarea class="w-full px-3 py-2 border border-gray-300 rounded-md" id="content" name="content" rows="8" required th:text="${board.content}"></textarea>
            </div>
            <div class="flex justify-between">
                <a th:href="@{'/board/' + ${board.boardId}}" class="text-white bg-gray-500 hover:bg-gray-600 font-bold py-2 px-4 rounded">취소</a>
                <button type="button" class="text-white bg-blue-500 hover:bg-blue-600 font-bold py-2 px-4 rounded" onclick="submitForm()">수정</button>
            </div>
        </form>
    </div>
</div>

<!--Footer fragment-->
<div th:insert="~{common/footer :: footer}"></div>

<script>
    function submitForm() {
        const boardId = /* Use Thymeleaf to get the boardId */ [[${board.boardId}]];
        const title = document.getElementById("title").value;
        const content = document.getElementById("content").value;

        const data = {
            title: title,
            content: content
        };

        fetch(`/board/edit/${boardId}`, {  // 경로를 '/api/board/edit/${boardId}'에서 '/board/edit/${boardId}'로 변경
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Failed to update board');
                }
            })
            .then(result => {
                if (result.includes("redirect:")) {
                    window.location.href = result.replace("redirect:", "");
                } else {
                    alert('Error updating board');
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>

</body>
</html>
