<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Post CSS -->
    <link href="/css/post/post.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/background.css">
</head>
<body class="min-h-screen flex flex-col">
    <!--Header fragment-->
    <div th:insert="~{common/header :: header}"></div>

    <hr>
    <hr>

    <!--Content-->
    <div class="list-container flex-grow">
        <h1 class="post-text" th:text="${boardTitle}"></h1>

        <div class="post-category">
            <a id="post-order1" th:href="@{/post/{boardId}/updatedAt(boardId=${boardId})}">최신 업데이트순</a>
            <a id="post-order2" th:href="@{/post/{boardId}/views(boardId=${boardId})}">조회순</a>
            <a th:href="@{/post/create/{boardId}(boardId=${boardId})}" id="button-link" class="bg-gray-800 text-white">글 작성하기</a>
            <div class="post-search">
                <form th:action="@{/post/{boardId}/search(boardId=${boardId})}" method="get">
                    <input type="text" value name="keyword" placeholder="검색할 내용을 입력해주세요.">
                    <button type="submit" class="search-btn"></button>
                </form>
            </div>
        </div>

        <div class="post-table">
            <table>
                <tr>
                    <th>번호</th>
                    <th style="width : 600px">제목</th>
                    <th style="width : 200px">작성자</th>
                    <th style="width : 200px">작성일자</th>
                    <th>조회수</th>
                </tr>
                <!--이부분 리스트 받아와서 반복문-->
                <tr th:each="post : ${posts}">
                    <td th:text="${post.postId}"></td>
                    <td><a th:href="@{/post/postdetail/{postId}(postId=${post.postId})}" th:text="${post.title}"></a></td>
                    <td th:text="${post.nickname}"></td>
                    <td th:text="${post.createdAt}"></td>
                    <td th:text="${post.views}"></td>
                </tr>
            </table>
        </div>

        <div class="post-paging">
            <!--페이징 구현할 곳-->
            <span th:text="'Page ' + ${currentPage} + ' of ' + ${totalPages}"></span>
            <div>
                <a th:if="${currentPage > 1}"
                   th:href="@{/post/${boardId}?page=${currentPage - 1}&size=${pageSize}&sort=${sortBy}&asc=${ascending}}">
                    Previous
                </a>
                <a th:if="${currentPage < totalPages}"
                   th:href="@{/post/${boardId}?page=${currentPage + 1}&size=${pageSize}&sort=${sortBy}&asc=${ascending}}">
                    Next
                </a>
            </div>
        </div>


    </div>

    <!--Footer fragment-->
    <div th:insert="~{common/footer :: footer}"></div>
</body>
</html>