<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 조회</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Post CSS -->
    <link href="/css/post/post.css" rel="stylesheet">
</head>
<body class="min-h-screen flex flex-col">
<!--Header fragment-->
<script th:inline="javascript" type="text/javascript">

    var user_check = [[${user_check}]];
    var currentSessionUserId = [[${currentSessionUserId}]];

    function handleDelete(){
        if(user_check === 'N'){
            alert("해당 게시글의 작성자가 아닙니다.");
            return false;
        }else{
            var result = confirm("게시글을 삭제하시겠습니까?");
            return result;
        }
    }
</script>

<script th:inline="javascript" type="text/javascript">
    function commentDelete(){
        var result = confirm("댓글을 삭제하시겠습니까?");
        return result;
    }
</script>

<script th:inline="javascript" type="text/javascript">
    function openModal(image) {
        var modal = document.getElementById("imageModal");
        var modalImg = document.getElementById("modalImage");

        modal.style.display = "block"; // 모달 창을 보여줍니다.
        modalImg.src = image.src; // 클릭한 이미지의 경로를 모달 이미지에 할당합니다.
    }

    function closeModal() {
        var modal = document.getElementById("imageModal");
        modal.style.display = "none"; // 모달 창을 닫습니다.
    }
</script>

<div th:insert="~{common/header :: header}"></div>

<!--Content-->
<div class="post-container flex-grow">
    <h1 class="post-text">게시글 조회</h1>
        <input type="text" th:value="${post.title}" placeholder="제목을 입력해 주세요." readonly>
        <textarea th:text="${post.content}" cols="120" rows="30" placeholder="내용을 입력해 주세요." readonly></textarea>

        <div class="post-images-wrapper">
            <div class="post-images">
                <div th:each="imageUrl : ${imageUrls}" class="post-image-container">
                    <img th:src="@{${imageUrl}}" alt="Post Image" class="post-image" onclick="openModal(this)">
                </div>
            </div>
        </div>

        <!-- 모달 구조 -->
        <div id="imageModal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="modalImage">
        </div>

        <div class="button-group">
            <a th:href="@{/post/{boardId}(boardId=${boardId})}" id="post-container-listbtn" class="post-container btn">목록</a>
            <a th:href="@{/post/modify/{postId}(postId=${postId})}" id="post-container-modifybtn" class="post-container btn">수정</a>
            <form th:action="@{/post/delete/{postId}(postId=${postId})}" method="post" id="delete-form" onsubmit="return handleDelete()">
                <input type="hidden" th:value="${boardId}" name="boardId">
                <button type="submit" id="post-container-deletebtn" class="post-container btn">삭제</button>
            </form>
        </div>
</div>

<!-- Comment Section -->
<div class="comment-section flex-grow">
    <h2 class="comment-title">댓글 목록</h2>
    <div th:each="comment : ${comments}" class="bg-white p-4 rounded-lg shadow mb-4">
        <div class="bg-white p-4 rounded-lg shadow mb-4">
            <span class="comment-author" th:text="'작성자 : ' + ${comment.nickname}"></span>
            <span class="comment-date" th:text="${comment.updatedAt}"></span>
        </div>
        <p class="text-gray-800 mb-3" th:text="${comment.content}">댓글 내용</p>
        <div class="flex justify-end space-x-2" th:if="${currentSessionUserId == comment.userId}">
            <a th:href="@{/post/comment/modify(commentId=${comment.commentId}, postId=${post.postId})}"
               class="text-blue-600 hover:text-blue-800">
                수정
            </a>
            <form th:action="@{/post/comment/delete}" method="post" class="inline" onsubmit="return commentDelete()">
                <button type="submit" class="text-red-600 hover:text-red-800">삭제</button>
                <input type="hidden" th:value="${post.postId}" name="postId">
                <input type="hidden" th:value="${comment.commentId}" name="commentId">
            </form>
        </div>
    </div>

    <div class="comment-input">
        <form th:action="@{/post/comment/create}" method="post" class="flex justify-center">
            <textarea th:if="${currentSessionUserId != null}" placeholder="댓글을 남겨보세요" rows="30" cols="200" name="content" required></textarea>
            <textarea th:if="${currentSessionUserId == null}" rows="30" cols="200" readonly>로그인 후 이용해주세요</textarea>

            <button th:if="${currentSessionUserId != null}" type="submit" class="comment-submit-btn">등록하기</button>

            <input type="hidden" th:value="${post.postId}" name="postId">
        </form>
    </div>
</div>

<!--Footer fragment-->
<div th:insert="~{common/footer :: footer}"></div>
</body>
</html>