<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!-- Tailwind CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <!-- Post CSS -->
  <link href="/css/post/post.css" rel="stylesheet">
</head>
<body class="min-h-screen flex flex-col">
<!--Header fragment-->
<div th:insert="~{common/header :: header}"></div>

<!--Content-->
<div class="post-container flex-grow">
  <h2 class="post-text">게시글 수정</h2>
  <form th:action="@{/post/modify/{postId}(postId=${postId})}" method="post">
    <input type="text" th:value="${post.title}" name="title">
    <textarea cols="120" rows="30"  th:text="${post.content}" name="content"></textarea>
    <div class="button-group">
      <button type="submit" id="post-container-modifybtn" class="post-container btn">수정완료</button>
    </div>
  </form>
</div>

<!--Footer fragment-->
<div th:insert="~{common/footer :: footer}"></div>
</body>
</html>